* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
    background-color: #050a18;
}

.container {
    position: relative;
    height: 80%;
    width: 60%;
    border: 1px solid black;
    display: flex;
    transition: all 1s ease;
    z-index: 100;
    background-color:  #050a18;
    opacity: 0.8;
    border: 1px solid #1e2345;
    backdrop-filter: blur(8px);

    /* border-radius: 10px; */
}

.logo-section {
    background-color: transparent;
    z-index: 99999;
    height: 10%;
    width: 20%;
    margin: 1rem;
}

.logo {
    color: #9d84ff;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    /* mix-blend-mode: difference; */
}

.info {
    position: absolute;
    height: 100%;
    width: 40%;
    background-color: rgba(0,0,0,0.5);
    /* background-color:  #050a18; */
    transition: all 1s ease;
    z-index: 200;
    border-right:  1px solid #1e2345;
}

.heading {
    transition: all 1s ease;
    margin-top: 9rem;
    margin-bottom: 1.5rem;
}

.heading > h1 {
     /* color: rgba(116,112,131); */
     color: white;
    font-size: 2.2rem;
    /* transition: all 1s ease; */
}

.info-text > p {
     /* color: rgba(116,112,131); */
     color: white;
    padding: 1rem 2.3rem;
}

.btn {
    width: 80%;
    background-color: transparent;
    cursor: pointer;
    margin-top: 5rem;
    /* border: 1px solid #1e2345;
    border-style: solid; */
}



.btn > button {
    border: none;
    width: 100%;
    background-color: transparent;
    border: 1px solid #9d84ff;
    border-style: solid;
    border-radius: 10000rem;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    padding: 0.5rem 2.4rem;
    line-height: 120%;
}

button {
    cursor: pointer;
}

.reg-info {
    width: 40%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* mix-blend-mode: difference; */
    z-index: 300;
    left: 0%;
    transition: left 3s ease, opacity 300ms ease;
    opacity: 1;
}


.signIn-info {
    width: 40%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* justify-content: center; */
    /* mix-blend-mode: difference; */
    z-index: 300;
    left: 100%;
    display: none;
    opacity: 0;
    /* border-right: 1px solid #1e2345;
    border-left: 1px solid #1e2345; */
    transition: left 3s ease, opacity 300ms ease;
}

.signIn {
    height: 100%;
    width: 60%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    justify-content: space-evenly;
    /* mix-blend-mode: difference; */
    /* display: none; */
    transition: all 2s ease;
    left: 40%;
}

.acc {
    font-size: 3rem;
    color: white;
    font-weight: 800;
    letter-spacing: 0.1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 2rem; */
    width: 100%;
    position: relative;
}


.form-group {
    position: relative;
    margin-bottom: 2.5rem;
    width: 60%;
}

 input {
   border-radius: 5px;
   border: 1px solid rgba(157, 132, 255, 0.16);
   background-color: hsla(0, 0%, 100%, 0.04);
   height: 2.2rem;
   padding: 0px 0.8rem;
   width: 100%;
   outline: none;
   color: white;
   /* margin-left: ; */
}

 label {
    color: #9d84ff;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    /* margin-bottom: -2rem; */
    /* margin: 0rem auto; */
    position: absolute;
    top: -20px;
    left: 0px;
    justify-content: flex-start;
}


form > button {
    padding: 0.5rem 1rem;
    width: 25%;
    border-radius: 1000rem;
    border: 1px solid #ccc;
}

.reg {
    height: 100%;
    width: 60%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    justify-content: space-evenly;
    /* mix-blend-mode: difference; */
    display: none;
    transition: all 2s ease;
    left: 40%;
}